body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

.menu__item {
    font-size: 14px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.card__precios p {
    font-size: 40px;
}


.card__list__1 {
    line-height: 2;
}

.card__list__2 {
    line-height: 2;
}

footer {
    font-size: 25px;
    color: #ffffff;
}