@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_reset\.scss}line{font-family:\000031}}
body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 575.98px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_mixins\.scss}line{font-family:\000033}}
  .header {
    height: 100vh;
    background-position: center;
    background-size: 200%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_mixins\.scss}line{font-family:\000037}}
  .header__texto {
    width: 200px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000035}}
.menu__item, .menu__login {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000039}}
h1 {
  font-size: 50px;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000314}}
h2 {
  font-size: 35px;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000319}}
p {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000323}}
footer {
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\000031}}
.menu__barra, .menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  height: 60px;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000311}}
.menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 2 2 2;
      flex: 2 2 2;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000319}}
.menu__item, .menu__login {
  margin: 0 10px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000324}}
.menu__item-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000328}}
.menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 2;
          flex: 2 2 2;
  list-style: none;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000031}}
.header {
  display: grid;
  grid-template-columns: auto;
  height: 100vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000035}}
.header__texto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  padding-top: 100px;
  margin-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000313}}
.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\000031}}
.header {
  background-image: url(/assets/images/bg-hero.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\000038}}
.cls-1 {
  fill: #2ab7ca;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000312}}
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-9 {
  fill-rule: evenodd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000316}}
.cls-2 {
  fill: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000320}}
.cls-3 {
  fill: #cf4737;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000324}}
.cls-4, .cls-8 {
  fill: #3e8cc7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000328}}
.cls-5 {
  fill: #fec9a3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000332}}
.cls-6 {
  fill: #75462e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000336}}
.cls-7 {
  fill: #de4c3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000340}}
.cls-9 {
  fill: #ee9480;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000031}}
.graph {
  fill-rule: evenodd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000033}}
.graph__1 {
  fill: #ee9480;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000036}}
.graph__2 {
  fill: #2ab7ca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000039}}
.graph__3 {
  stroke: #979797;
  stroke-linecap: square;
  stroke-width: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000316}}
.desc {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000320}}
.desc__graph {
  width: 450px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000324}}
.cards {
  background-image: url(/assets/images/bg-price.svg);
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000333}}
.card__precios {
  background-color: white;
  width: 350px;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_footer\.scss}line{font-family:\000031}}
footer {
  background-color: #221D23;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */