@-webkit-keyframes animacion-graph {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes animacion-graph {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_animations\.scss}line{font-family:\000036}}
input:hover {
  background-color: #b1e4eb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_animations\.scss}line{font-family:\0000310}}
input:focus {
  background-color: #bababa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_animations\.scss}line{font-family:\0000314}}
#graph {
  -webkit-animation-name: animacion-graph;
          animation-name: animacion-graph;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_animations\.scss}line{font-family:\0000320}}
.card__precios:hover {
  -webkit-box-shadow: 10px 10px 40px #726f73;
          box-shadow: 10px 10px 40px #726f73;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_reset\.scss}line{font-family:\000031}}
body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 575.98px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_mixins\.scss}line{font-family:\000033}}
  .header {
    height: 100vh;
    background-position: center;
    background-size: 200%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/abstracts\/_mixins\.scss}line{font-family:\000037}}
  .header__texto {
    width: 200px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000035}}
.menu__item, .menu__login {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\000039}}
h1 {
  font-size: 50px;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000314}}
h2 {
  font-size: 35px;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000319}}
p {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000323}}
.card__precios p {
  font-size: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000328}}
.card__list__1 {
  line-height: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000332}}
.card__list__2 {
  line-height: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000336}}
footer {
  font-size: 25px;
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\000031}}
.menu__barra, .menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 150px;
  height: 60px;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000311}}
.menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 2 2 2;
      flex: 2 2 2;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000319}}
.menu__item, .menu__login {
  margin: 0 10px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000324}}
.menu__item-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_navigation\.scss}line{font-family:\0000328}}
.menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 2;
          flex: 2 2 2;
  list-style: none;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000031}}
.header {
  display: grid;
  grid-template-columns: auto;
  height: 100vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000035}}
.header__texto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  padding-top: 100px;
  margin-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000313}}
.desc {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000318}}
.desc__title {
  grid-column: 1 / 3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000323}}
.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000330}}
.cards__title {
  grid-column: 1 / 3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\000031}}
.header {
  background-image: url(/assets/images/bg-hero.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\000039}}
.cls-1 {
  fill: #2ab7ca;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000313}}
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-9 {
  fill-rule: evenodd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000317}}
.cls-2 {
  fill: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000321}}
.cls-3 {
  fill: #cf4737;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000325}}
.cls-4, .cls-8 {
  fill: #3e8cc7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000329}}
.cls-5 {
  fill: #fec9a3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000333}}
.cls-6 {
  fill: #75462e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000337}}
.cls-7 {
  fill: #de4c3c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_header\.scss}line{font-family:\0000341}}
.cls-9 {
  fill: #ee9480;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000031}}
.graph {
  fill-rule: evenodd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000033}}
.graph__1 {
  fill: #ee9480;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000036}}
.graph__2 {
  fill: #2ab7ca;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\000039}}
.graph__3 {
  stroke: #979797;
  stroke-linecap: square;
  stroke-width: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000316}}
.desc {
  padding: 100px 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000319}}
.desc__graph {
  width: 450px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000322}}
.desc__text {
  width: 450px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000328}}
.cards {
  background-image: url(/assets/images/bg-price.svg);
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000335}}
.cards__title {
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000342}}
.card__precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 350px;
  height: 550px;
  padding: 10px 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000350}}
.card__precios__button {
  width: 100%;
  padding: 0 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000356}}
.card__list__1 {
  border-top: 2px solid #bababa;
  border-bottom: 2px solid #bababa;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 120px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_section\.scss}line{font-family:\0000364}}
.card__list__2 {
  border-top: 2px solid #bababa;
  border-bottom: 2px solid #bababa;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_forms\.scss}line{font-family:\000031}}
input {
  margin-left: 20px;
  background-color: #2ab7ca;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
  font-family: 'Raleway';
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_forms\.scss}line{font-family:\0000311}}
.button__XL {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Users\/jrubi\/Desktop\/Curso\%20Front\%20End\/Clase_17\/startup_treek__in\/assets\/sass\/layout\/_footer\.scss}line{font-family:\000031}}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #221D23;
  padding: 30px 100px;
}

/*# sourceMappingURL=main.css.map */