input {
    margin-left: 20px;
    background-color: #2ab7ca;
    color: #ffffff;
    border: 0;
    padding: 10px 30px;
    font-family: 'Raleway';
    font-weight: 700;
}

.button__XL {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}