.header {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    &__texto {
        box-sizing: border-box;
        width: 500px;
        padding-top: 100px;
        margin-left: 50px;
    }
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 100vh;
}
