.cls-1 {
    fill:#2ab7ca;
}

.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-9 {
    fill-rule:evenodd;
}

.cls-2 {
    fill:#fff;
}

.cls-3 {
    fill:#cf4737;
}

.cls-4,.cls-8 {
    fill:#3e8cc7;
}

.cls-5 {
    fill:#fec9a3;
}

.cls-6 {
    fill:#75462e;
}

.cls-7 {
    fill:#de4c3c;
}

.cls-9 {
    fill:#ee9480;
}