.menu__barra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 50px;
    height: 60px;
    padding: 20px;
}

.menu__lista {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    flex: 2 2 2;
    list-style: none;
}

.menu__item {
    margin: 0 10px;
    cursor: pointer;
}

.menu__item-logo {
    justify-content: start;
}

.menu__login {
    @extend .menu__barra, .menu__item;
    display: flex;
    flex: 2 2 2;
    list-style: none;
    margin: 0 10px;
}