.graph {
    fill-rule: evenodd;
    &__1 {
        fill:#ee9480;
    }
    &__2 {
        fill:#2ab7ca;
    }
    &__3 {
        stroke:#979797;
        stroke-linecap:square;
        stroke-width:5px;
    }
}

.desc {
    padding: 100px 0;
    text-align: center;
    &__graph {
    width: 450px;
    }
    &__text {
    width: 450px;
    text-align: left;
    }
}

.cards {
    background-image: url(/assets/images/bg-price.svg);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    &__title {
        text-align: center;
        color: #ffffff;
        padding-bottom: 10px;
    }
}

.card__precios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    height: 550px;
    padding: 10px 40px;
    &__button {
        width: 100%;
        padding: 0 50px;
    }
}

.card__list__1 {
    border-top: 2px solid #bababa;
    border-bottom: 2px solid #bababa;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 120px;
}

.card__list__2 {
    border-top: 2px solid #bababa;
    border-bottom: 2px solid #bababa;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}
